// Specific CSS for your home-page
body {
  min-height: 100vh;
}

div.outer-card {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

div.card {
  width: calc(80% / 3);
  box-shadow: 1px 1px 5px #888888;
  background-color: white;
  display: inline-block;
  margin: 20px;
  text-align: left;
  transition: .3s;
  height: 300px;
}

div.card h4 {
  margin-left: 10px;
  margin-top: -50px;
  z-index: 1;
  color: white;
}

div.card a {
  text-decoration: none;
}

div.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#img1 {
  background-image: url("https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2015/01/Regents-Canal.jpg");
}
#img2 {
  background-image: url("https://canalrivertrust.org.uk/refresh/media/original/27533.jpg");
}
#img3 {
  background-image: url("https://canalrivertrust.org.uk/refresh/media/original/22513.jpg");
}

.card:hover {
  transform: scale(1.02);
}

div.button {
  font-size: 14px;
  background-color: #62c9c2;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: 10px;
  width: 70px;
  text-align: center;
  color: white;
  padding: 5px 5px;
  z-index: 2;
}
.mt {
  margin-top: 150px;
}
.container-banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1505413687799-90481dfc0203?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c467fcfcc1e15ee9d8908a8e84a96057&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  text-align: center;
  height: 65vh;
}

.banner-content h1 {
  color: white;
  margin-bottom: 60px;
}

.ml11 {
  font-weight: 900;
  font-size: 3.5em;
}
.ml12 {
  font-weight: 300;
  font-size: 82px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

#form{
  display: flex;
  justify-content: center;
}


