h1 {
  text-align: center;
}

#new_booking {
  width: 308px;
  margin: 0 auto;
}

div.flatpickr-calendar {
  text-align: center;
  width: 308px;
}

// CSS for google map

#map-btn {
  margin-bottom: 0;
  margin-top: -10px;
  position: relative;
}

#map-btn a {
  color: white;
  text-align: center;
}
#map-btn a:hover {
  text-decoration: none;
}

div.infowindow-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: lighter;
  position: relative;
  text-align: center;
}

.infowindow-title p {
  margin: 0 auto;
}


div.gm-style-iw {
  padding-top: 13px;
}

.gm-style-iw {
  display: flex;
  justify-content: center;
  position: relative;
}

.amenity-container {
  display: flex;
  margin: 0 0;
}

.amenity-box {
  padding: 5px 5px;
  margin: 0 0;
}

.amenity-box p {
  margin: 0 0;
}

.map-mooring-image {
  width: 190px;
  overflow-x: hidden;
}

.mooring-title {
  z-index: 1;
  color: white;
  font-size: 18px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: "PT Sans", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
}

p.mooring-title {
  margin: 10px auto;
}
