h1 {
  text-align: center;
}

#new_booking {
  width: 308px;
  margin: 0 auto;
}

div.flatpickr-calendar {
  text-align: center;
  width: 308px;
}

// CSS for google map

#map-btn {
  margin-bottom: 0;
  margin-top: -10px;
  position: relative;
}

#map-btn a {
  color: white;
  text-align: center;
}
#map-btn a:hover {
  text-decoration: none;
}

div.infowindow-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-weight: lighter;
  position: relative;
  text-align: center;
}

.infowindow-title p {
  margin: 0 auto;
}


div.gm-style-iw {
  padding-top: 13px;
  font-family: "PT Sans", "sans-serif";

}

.gm-style-iw {
  display: flex;
  justify-content: center;
  position: relative;
}

.amenity-container {
  display: flex;
  margin: 0 0;
  height: 100px;
  width: 100px;
}

.amenity-box {
  margin: 10px 10px;
  height: 40px;
  width: 40px;
}

.amenity-box p {
  margin: 0 0;
}

.map-mooring-image {
  width: 190px;
  overflow-x: hidden;
}

.mooring-title {
  z-index: 1;
  color: white;
  font-size: 18px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  font-family: "PT Sans", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
}

#scroll {
  padding: 0 100px;
  // border: 1px solid #DBDBDB;
  // border-radius: 4px;
  color: #484848;


}

#scroll h2 {
  text-align: center;
}

#sticky {
  margin-left: -15px;
  top: 20px;
}

div.col-md-5 h2 {
  font-size: 24px;
  text-align: left;
  border-bottom: 1px solid black;
}

ul {
  list-style-type: square;
}

p, li {
  font-size: 16px;
}

.mini-map {
  margin: 10px auto;
}

.color-text {
  color: #afafaf;
  font-weight: 900;
}

.amenities-container-flex {
  margin: 10px auto;
  height: 100px;
  width: 100px;
}

.amenities-container {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;

}

div.amenities-container p {
  text-align: center;
  font-weight: 900;

}

.fa-times {
  color: red;
}

.amenities-container #check {
  color: #62c9c2;
  padding: 0;
}

.amenities-container img {
  padding-right: 20px;
  padding-bottom: 12px;
}

p.amenities-flex {
  margin: 0 0;
}
