<div class="infowindow-title">
  <p class="amenities-title">Amenities</p>
</div>

<div class="amenity-container">
  <div class="amenity-box">


      <% if amenity.toilets == true %>
      <p>Toilets</p> <%= image_tag("toilets.png") %>
      <% end %>
  </div>
  <div class="amenity-box">

      <% if amenity.rubbish_point == true %>
      <p>Rubbish</p><%= image_tag("trash.png") %>
      <% end %>
  </div>
</div>

<div class="amenity-container">
  <div class="amenity-box">
      <% if amenity.water_point == true %>
      <p>Water</p><%= image_tag("water.png") %>
      <% end %>
  </div>
  <div class="amenity-box">

      <% if amenity.pump_out == true %>
      <p>Pump Out</p><%= image_tag("pump.jpg") %>
  </div>


    <% end %>

</div>



