<div class="infowindow-title">
  <p class="mooring-title">
    <%= mooring.name %>
  </p>
</div>
<div class="map-mooring-image">

  <%= cl_image_tag("mooring1",
      width: 200, height: 150, crop: :fill) %>
</div>
<div class="button" id="map-btn">
  <%= link_to "book now", mooring_path(mooring) %>
</div>

