<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<ul>
  <% @moorings.each do |mooring| %>
    <li><%= link_to mooring.name, mooring_path(mooring) %></li>
  <% end %>
</ul>


