#form {
  .search-input {
    background: none;
    // border-bottom: 1px white;
    &::placeholder {
      color: rgba(255,255,255,0.6);
    }
    color: white;
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 25px;
    width: 90% !important;
  }
  .search-input:focus {
    box-shadow: none;
    border-bottom: 2px solid white;
  }
}

.banner-mooring {
  height: 45vh;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-banner {
  position: absolute;
  bottom: 30px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  // height: 60px;
  margin: 20px;
  text-align: center;
}

.card-banner h1 {
  color: white;
  margin: 0px;
}

// .card-banner button {
//   margin: 0px;
// }

#label-mooring-status {
  padding: 11px 12px;
  margin-left: 10px;
  color: white;
  font-size: 17px;
  background-color: #62c9c2;
  border-radius:50px;
  text-align: center;
  vertical-align: middle;
  h4 {
    margin: 0;
  }
  // line-height: 90px;       /* the same as your div height */
}

.mooring-header {
  padding: 10px;
  margin: 10px;
  font-size: 43px;
  text-align: center;
  vertical-align: middle;
  // line-height: 90px;       /* the same as your div height */
}

#login {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 308px;
  margin: 0 auto;
  text-align: left;
}

.form-actions {
  display: inline-block;
  width: 308px;
  height: 88px;
}

.other-options {
  margin-top: 20px;
  margin: auto;
  float: right;
  text-align: right;
  right: 0;
}
